/*
* Globals
*/
/* Links */
a:focus,
a:hover {
color: #fff;
}
/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
text-shadow: none;  
}

/*
* Base structure
*/
html, a
body {
height: 100%;
color: #333 ;
font-size: 1.7 em;
font-family: 'Playfair Display', 'Lora', serif;
}

body {
color: white;
text-align: center;
background-color: black ;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
display: table;

width: 100%;
height: 100%; /*For at least Firefox */
min-height: 100%;
-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
box-shadow: inset 0 0 100px rgba(0,0,0,.5);
background-position: center;
background-repeat: no-repeat;
font-size: 1.0em;
background-color: 'black' ;
}

.site-wrapper2 {
display: table;

width: 100%;
height: 100%; /*For at least Firefox */
min-height: 100%;
-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
box-shadow: inset 0 0 100px rgba(0,0,0,.5);
background-position: center;
background-repeat: no-repeat;
font-size: 1.0em;
background-color: 'black' ;
}
.site-wrapper-inner {
display: table-cell;
vertical-align: top;
}
.cover-container {
margin-right: auto;
margin-left: auto;
}
/* Padding for spacing */
.inner {
padding: 30px;
}
/*
* Header
*/
.masthead-brand {
margin-top: 10px;
margin-bottom: 10px;
}
.masthead-nav > li {
display: inline-block;
}
.masthead-nav > li + li {
margin-left: 20px;
}
.masthead-nav > li > a {
padding-right: 0;
padding-left: 0;
font-size: 1.0em;
font-weight: bold;
color: #fff; /* IE8 proofing */
color: rgba(255,255,255,.75);
border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
background-color: transparent;
border-bottom-color: #a9a9a9;
border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
color: #fff;
border-bottom-color: #fff;
}
@media (min-width: 768px) {
.masthead-brand {
float: left;
}
.masthead-nav {
float: right;
}
}
/*
* Cover
*/
.cover {
padding: 0 20px;
/*background-image: url("black-wood.jpg") no-repeat scroll 0px 100% / cover transparent; */
background-color: 'black';
border: 0px solid #fff;
font-size: 2.0em;
}
.cover .btn-lg {
padding: 10px 20px;
font-weight: bold;
}
/*
* Footer
*/
.mastfoot {
color: #999; /* IE8 proofing */
color: rgb(255, 255, 255);
}
/*
* Affix and center
*/
@media (min-width: 768px) {
/* Pull out the header and footer */
.masthead {
/*position: fixed;
top: 0;
background-color: black;
*/
position: relative;
top: 0;
}
.mastfoot {
position: relative;
bottom: 0;
}
/* Start the vertical centering */
.site-wrapper-inner {
vertical-align: middle;

}
/* Handle the widths */
.masthead,
.mastfoot,
.cover-container {
width: 100%; /* Must be percentage or pixels for horizontal alignment */
}
}
@media (min-width: 992px) {
.masthead,
.mastfoot,
.cover-container {
width: 700px;
}
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
.social{
opacity: 0.6;
display: inline-block;
height: 60px;
width: 60px;
}

.social:hover{
opacity: 1;
}

.emphasis {
	font-family: "Merriweather";
	text-align: left;
	font-size: 22px;
	font-weight: 300;
	color:#515151;
	font-style: italic;
}

#projectSquare {
    width: 200px;
    height: 200px;
    color: white;
    margin: 0 auto;
    font-family: 'Lobster', serif;
    font-size: 20pt;
    text-align: center;
}

#wrap {
    max-width: 300px;
    height: 100px;
    color: #5C5C5C;
    margin: 0 auto;
}

.box {
	background-color: white;
}

.box img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
	width:50px;
	height:50px;
}

.box img:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
}