h1, #typed, #projectSquare {
	display: inline-block;
	margin-top: 20pt;
	text-align: center;
	color:white;
	text-align: center;
	font-size: 3.0em;
	font-family: Qwigley, Aref Ruqaa, serif;
}


.text, body, html, li {
	font-family: Eczar, serif;
	font-weight: 300;
	color: #fff;
	font-size: 14pt;
	font-style: normal;
	text-align: center;
	background-color: #000;
	background: "images/purpleskies.jpg";
}

h2, .headerTitle {
	font-family: Qwigley, serif;
	font-size: 3em;
	font-weight: 300;
	color: #885ead;
	font-style: normal;
}

.textTiny, h3 {
	font-family: Eczar, serif;
	font-size: 1.7em;
	font-weight: 250;
	color: #fff;
	font-style: normal;
}

.emphasis, p, h4{
	font-family: Eczar, serif;
	font-size:  1.5em;
	font-weight: 300;
	color: white;
	font-style: normal;
}

a:visited, a {
	color: #008080;
}

a:hover {
	color: #fff;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */	
.site-wrapper, .site-wrapper2, html{
	display: table;
	width: 100%;
	height: 100%; /*For at least Firefox */
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	background-position: center;
	background-repeat: repeat;
	font-size: 1.3em;
	background-color: #000;
	background: images/purpleskies.jpg;
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: middle;

}
/* Handle the widths */
.masthead,
.mastfoot,
.cover-container {
	width: 90%; /* Must be percentage or pixels for horizontal alignment */
}


.icon{
	opacity: 0.5;
	display: inline-block;
	height: 60px;
	width: 60px;
}

.icon:hover{
	opacity: 1;
}

.navbar-custom {
    margin-bottom: 0;
    font-family: Qwigley, serif;
}

#about, #experience, #contact {
    width: 100%;
    padding: 120px 0;
    min-height: 600px;
    max-height: 1000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: Julee, serif;
	color: #fff;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Julee, serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #008080;
    outline: 0;
    color: #008080;
	background-color: transparent;
}


footer, .light {
    padding: 50px 0;
    padding-top: 80px;
	font-weight: 500;
	font-family: Qwigley, Julee, serif;
	font-size: 1.7em;
	color: #fff;
}


.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
	font-family: Qwigley, Julee, serif;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active a {
    outline: 0;
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.projects {
    margin-top:10pt;
}

.wideContentBox {
    height:100%;
}

.content {
    display:none;
}

.box img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    transition-duration: 0.5s, 0.3s;
    -webkit-transition-duration: 0.5s, 0.3s;
    -moz-transition-duration: 0.5s, 0.3s;
    -o-transition-duration: 0.5s, 0.3s;
    -ms-transition-duration: 0.5s, 0.3s;
    width:50px;
    height:50px;
}

.box img:hover {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    transition-duration: 0.5s, 0.3s;
    -webkit-transition-duration: 0.5s, 0.3s;
    -moz-transition-duration: 0.5s, 0.3s;
    -o-transition-duration: 0.5s, 0.3s;
    -ms-transition-duration: 0.5s, 0.3s;
}