body {
	font-family: 'Playfair Display', 'Lora', serif;
	color: 'white';
	font-weight: 300;
}

h1 {
	font-size: 2.2em;
	font-weight: 300;
}

#projectSquare {
    width: 200px;
    height: 200px;
    color: white;
    margin: 0 auto;
    font-family: 'Lora', serif;
    font-size: 1.2em;
    text-align: center;
}

.headertitle {
	display: inline-block;
	margin-top: 20pt;
	text-align: center;
	color:white;
}

.headerTitle {
	text-align: center;
	font-size: 40pt;
	font-family: "Lora", serif;
	cursor: pointer;
	font-style: italic;
}

.projects {
	margin-top:10pt;
}

.wideContentBox {
	height:100%;
}

.content {
	display:none;
}

#footer {
	background-color:black;
}

.box {
	background-color: black;
}

.box img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
	width:50px;
	height:50px;
}

.box img:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
}


.text {
	font-family: "Playfair Display";
	font-weight: 300;
	color:white;
	font-style: normal;
}

.textTiny {
	font-family: "Playfair Display";
	font-size: 1.7em;
	font-weight: 300;
	color: #885ead;
	font-style: normal;
}

.emphasis {
	font-family: "Playfair Display";
	font-size:  1.8em;
	font-weight: 300;
	color:red;
	font-style: normal;
}

