body {
	font-family: 'Playfair Display', 'Lora', serif;
	color: 'white';
	font-weight: 300;
}

h1 {
	font-size: 55pt;
	font-weight: 300;
}

#projectSquare {
    width: 200px;
    height: 200px;
    color: white;
    margin: 0 auto;
    font-family: 'Lobster', serif;
    font-size: 20pt;
    text-align: center;
}

#wrap {
    max-width: 300px;
    height: 100px;
    color: #5C5C5C;
    margin: 0 auto;
}

.headertitle {
	display: inline-block;
	margin-top: 20pt;
	text-align: center;
	color:white;
}

.headerTitle {
	text-align: center;
	font-size: 40pt;
	font-family: "Merriweather", serif;
	color: #219295;
	cursor: pointer;
	font-style: italic;
	font-weight: 700;
}

.projects {
	margin-top:10pt;
}

.wideContentBox {
	height:100%;
}

.content {
	display:none;
}

#footer {
	background-color:white;
}

.yelbox {
	background-color: white;
}

.blubox {
	background-color: #BBDCDC;
}

.blubox img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
	width:50px;
	height:50px;
}

.blubox img:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	transition-duration: 0.5s, 0.3s;
	-webkit-transition-duration: 0.5s, 0.3s;
	-moz-transition-duration: 0.5s, 0.3s;
	-o-transition-duration: 0.5s, 0.3s;
	-ms-transition-duration: 0.5s, 0.3s;
}


.text {
	font-family: "Playfair Display";
	text-align: left;
	font-size: 22px;
	font-weight: 300;
	color:#515151;
	font-style: normal;
}

.text a:hover {
	color: #D2B109;
}

.textTiny {
	font-family: "Playfair Display";
	text-align: left;
	font-size: 16px;
	font-weight: 300;
	color:#515151;
	font-style: normal;
}

.emphasis {
	font-family: "Merriweather";
	text-align: left;
	font-size: 22px;
	font-weight: 300;
	color:#515151;
	font-style: italic;
}

