/*
* Globals
*/
/* Links */
a:focus, a:visited, a:hover {
color: #885ead;
}
/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
text-shadow: none;  
}

/* Extra markup and styles for table-esque vertical and horizontal centering */	
.site-wrapper, .site-wrapper2{
display: table;

width: 100%;
height: 100%; /*For at least Firefox */
min-height: 100%;
-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
box-shadow: inset 0 0 100px rgba(0,0,0,.5);
background-position: center;
background-repeat: no-repeat;
font-size: 1.3em;
background-color: 'black' ;
}

.site-wrapper-inner {
display: table-cell;
vertical-align: middle;

}
/* Handle the widths */
.masthead,
.mastfoot,
.cover-container {
width: 100%; /* Must be percentage or pixels for horizontal alignment */
}


.icon{
opacity: 0.5;
display: inline-block;
height: 60px;
width: 60px;
}

.icon:hover{
opacity: 1;
}

.headertitle, h1, #typed:after, #projectSquare {
	display: inline-block;
	margin-top: 20pt;
	text-align: center;
	color:white;
	text-align: center;
	font-size: 3em;
	font-family: Ruthie, serif;
	cursor: pointer;
}


.text, body, a, li, html {
	font-family: Julie, serif;
	font-weight: 300;
	color: #fff;
	font-style: normal;
	background-color: #000;
}

.textTiny {
	font-family: Julie, serif;
	font-size: 1.7em;
	font-weight: 300;
	color: #885ead;
	font-style: normal;
}

.emphasis, .light, p {
	font-family: Eczar, serif;
	font-size:  1.8em;
	font-weight: 300;
	color: white;
	font-style: normal;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Kurale, Fanwood Text, serif;
    background-color: #000;
}

#about, #experience, #contact {
    width: 100%;
    padding: 120px 0;
    min-height: 600px;
    max-height: 1000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: Kurale, Fanwood Text, serif;
	background-color: #000;
	color: #fff;
}


.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
   	background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Kurale, serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #008080;
    outline: 0;
    color: #008080;
	background-color: transparent;
}


footer {
    padding: 50px 0;
    padding-top: 80px;
	background: #000;
	font-weight: 500;
	font-family: Allura, Euphoria Script, serif;
	font-size: 2em;
	color: #008080;
}
